<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542490378494-car16rd5pk8r6objhsh0c3hfgrmcluh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542490378494-car16rd5pk8r6objhsh0c3hfgrmcluh9</string>
	<key>API_KEY</key>
	<string>AIzaSyDd8dISbYYS7uFsEJV4uWShzSMu1Rvzgjc</string>
	<key>GCM_SENDER_ID</key>
	<string>542490378494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aold.pizzarino</string>
	<key>PROJECT_ID</key>
	<string>dbestech-food-app-commercial</string>
	<key>STORAGE_BUCKET</key>
	<string>dbestech-food-app-commercial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542490378494:ios:3fc873218ad4d5135de5af</string>
</dict>
</plist>